body{
	font-family: Verdana, Tahoma, sans-serif;
	color : rgb(255,127,39);
	background-color: rgb(88,88,88);
	margin: 0 auto;
}
.header{
	font-family: 'Metamorphous';
	background-color: rgb(250,250,250);
	font-size: 24px;
	height: 40px;
	box-shadow: rgba(0,1px,0,0.1) 0px 0px 20px;
}
.header div{
	width: 100%;
	font-weight: bold;
	text-align: center;
}
.header div a{
	font-size: 28px;
	text-decoration: none;
	color: rgb(255,127,39);
	text-shadow: 0px 2px 3px #A34200;
	letter-spacing: 2px;
}
.header div a sup{
	font-size: 20px;
	letter-spacing: -1px;
	color: rgb(88,88,88);
	text-shadow: 0px 2px 3px #464646;
}
.login-box{
	width: 50%;
	font-family: inherit;
	vertical-align: center;
	margin-left: 25%;
	border-color: white;
	border-style:ridge;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	margin-top: 10%;
	box-shadow: 0px 0px 10px;
}
.login-box h3{
	font-family: 'Advent Pro', sans-serif;
	font-size: 20px;
	margin : 10px;
	margin-bottom: 3px;
	cursor: pointer;
	text-shadow: 1px 1px 1px #494949;
	position: relative;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.login-box hr{
	margin: 10px;
	margin-top: 0;
}
.login-form{
	margin-left: 25%;
	margin-right: 30%;
}
.login-form input{
	margin-left: 15px;
	color: rgb(88,88,88);
	padding: 5px;
	border: solid 1px #E5E5E5;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 10px;
}
.login-form input:hover,input:focus{
	border-color: rgb(88,88,88);
}
.login-form p{
	text-align: right;
	font-family: 'Glegoo';
}
.submit{
	width: auto;
	padding: 9px 15px;
	background: white;
	border: 0;
	font-size: 14px;
	color: rgb(255,127,39);
	border-radius: 5px;
}
.error{
    color: red;
}
.footer {
    background-color: white;
    height: 40px;
    text-align: center;
    font-size:10px;
    color:#CC0000;
    font-family:Verdana;
    padding-top: 10px;
    width: 100%;
    position:fixed;
    left: 0px;   
    bottom: 0px;
}
