body{
	color: white;
	background-color: rgb(180,180,180);
	font-family: 'Nova Square',cursive;
	text-align: center;
}

#table{
	text-align: left;
	margin: 10px auto;
	width: 600px;
}

#label1{
	float: left;
	width: 300px;
	height: 20px;
	text-align: center;
}

#label2{
	float: right;
	width: 300px;
	height: 20px;
	position:relative;
    top:-20px;
    left: 300px;
    text-align: center; 
}

#col1{
	float: left;
	width: 300px;
	text-align: center;
}

#col2{
	float: right;
	width: 300px;
	position:relative;
    top:-20px;
    left: 300px;
    text-align: center;
}

#item1{
	float: left;
	width: 300px;
	text-align: center;
}

#item2{
	float: right;
	width: 300px;
	position:relative;
    top:-20px;
    text-align: center;
}
