body{
	color: white;
	background-color: rgb(180,180,180);
	font-family: 'Nova Square',cursive;
}
div{
	margin-top: 2%;
	padding-left: 30%;
}
div p{
	margin-left: 35 %;
}
div p span{
	font-size: 20px;
	margin-left: 5%;
	margin-right: 5%;
}
.heading{
	font-weight: bold;
}
