<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Podkova' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
  	<link type="text/css" rel="stylesheet" href="../stylesheets/403.css" />
	<title>CodeRed</title>
</head>
<body>
	<div class = 'header'>
		<div><a href = '#'>{ CODERED<sup> 2013</sup> }</a></div>
	</div>
	<div class = 'error'>
		<br>
		<h1>403</h1>
		<p>Access Denied !!</p>
	</div>
</body>
<footer class = 'footer'>
	<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
	alt="Powered by Google App Engine" />
</footer>
</html>
