<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="../stylesheets/base.css" />
<title>CodeRed</title>
</head>
<body>
	<div class = 'header'>
		<div><a href = '#'>CodeRed</a></div>
	</div>
	<div class = "login-box">
		<h3>CodeRed Login</h3>
		<hr>
		<form class = 'login-form'>
			<p>Username 
			<input type = 'text' placeholder = 'Username'>
			</p>
			<p>Password  
			<input type = 'password' placeholder = 'Password'>
			</p>
			<p>
			<input class = 'submit' type = 'submit'>
			</p>
		</form>
	</div>
</body>
</html>