<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Metamorphous&effect=shadow-multiple|3d-float' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
  	<link type="text/css" rel="stylesheet" href="../stylesheets/instruction.css" />
  	  <script>
         document.onkeydown = function(event) {
          if(window.event.keyCode == 116){
             event.preventDefault();
          }
        }
      </script>
	<title>CodeRed Instructions</title>
</head>
<body>
	<div class = 'header'>
		<div><a>{ CODERED<sup> 2013</sup> }</a></div>
	</div>
	<div class = "login-box">
		<h3>CodeRed Instructions</h3>
		<hr>
		<div class = 'instruction'>
			<ul>
				<li>Total 30 questions.</li>
				<li>Marking Scheme - +3 / -1 .</li>
				<li>Timing - 30 minutes</li>
				<li>DO NOT exit fullscreen mode until told to do so.</li>
				<li>Press submit to submit the question.</li>
				<li>Question once submitted cannot be changed.</li>
				<li>Consult exam assistants for any query.</li>
				<li>Overall results will be declared later.</li>
				<li>May the best coder win.</li>
			</ul>
			<form method = 'post' >
		  		<input type = 'submit' class = 'submit'value = "Go to test">
			</form>
		</div>
	</div>
</body>
<footer class = 'footer'>
	<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
	alt="Powered by Google App Engine" />
</footer>
</html>
