<!DOCTYPE html>
<html>
<head>
  	<link type="text/css" rel="stylesheet" href="../stylesheets/ques.css" />
	<title>CodeRed</title>
</head>
<body>
	<div class = 'header'>
		<div><a href = '#'><span style = 'color : rgb(88,88,88);'>Code</span>Red</a></div>
	</div>
	<div class = "login-box">
		<h3>CodeRed Questions</h3>
		<hr>
		<form method = 'post' class = 'login-form'>
		<div id = 'main'>
			<div id = 'one'>
				<p>Question 
					<textarea name = 'ques' placeholder = 'Enter Question'></textarea>
				</p>
			</div>&nbsp;
			<vr>
			<div id = 'two'>
				<p>Choice 1 
					<input name = 'ch1' type = 'text' placeholder = 'Enter Choice 1'>
				</p>
				<p>Choice 2 
					<input name = 'ch2' type = 'text' placeholder = 'Enter Choice 2'>
				</p>
				<p>Choice 3 
					<input name = 'ch3' type = 'text' placeholder = 'Enter Choice 3'>
				</p>
				<p>Choice 4 
					<input name = 'ch4' type = 'text' placeholder = 'Enter Choice 4'>
				</p>
				<p>
					<input class = 'submit' type = 'submit'>
				</p>
			</div>&nbsp;
		</div>
		</form>
	</div>
</body>
<footer class = 'footer'>
	<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
	alt="Powered by Google App Engine" />
</footer>
</html>