<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Podkova' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
  	<link type="text/css" rel="stylesheet" href="../stylesheets/reg.css" />
<title>CodeRed</title>
</head>
<body>
	<div class = 'header'>
		<div><a href = '#'>CodeRed</a></div>
	</div>
	<div class = "login-box">
		<h3>CodeRed Register</h3>
		<hr>
		<form method = 'post' class = 'login-form'>
			<p>Teamname 
			<input type = 'text' name = 'team' placeholder = 'Enter teamname'>
			</p>
			<p>Email  
			<input type = 'email' name = 'email' placeholder = 'Enter email'> <!-- type email is supported in chrome, firefox and opera--> 
			</p>
			<p>
			<input class = 'submit' type = 'submit' value = 'Register'>
			</p>
		</form>
	</div>
</body>
<footer class = 'footer'>
	<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
	alt="Powered by Google App Engine" />
</footer>
</html>