<!DOCTYPE html>
<html>
<head>
  	<link type="text/css" rel="stylesheet" href="../stylesheets/test.css" />
	<title>CodeRed</title>
</head>
<body>
	<script type="text/javascript">
		$('body').bind('mousewheel', function (e) { // on scroll
    		var $div = $('div');

    		// set div scroll top offset to current + extra from this scroll
    		$div.scrollTop($div.scrollTop() - e.originalEvent.wheelDelta);

	    	return false; // prevent body scrolling	
		});
	</script>
	<div class = 'header'>
		<div><a href = '#'><span style = 'color : rgb(88,88,88);'>Code</span>Red</a></div>
	</div>
	<div class = "login-box">
		<h3>CodeRed Questions</h3>
		<form method = 'post'>
		   <div id = 'questionGrid'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '1'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '2'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '3'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '4'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '5'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '6'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '7'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '8'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '9'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '10'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '11'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '12'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '13'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '14'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '15'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '16'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '17'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '18'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '19'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '20'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '21'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '22'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '23'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '24'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '25'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '26'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '27'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '28'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '29'>
		       <input name = 'questionNo' class = 'q' type = 'submit' value = '30'>
		    </div>
		 </form>   
		<hr>
		<form method = 'post' class = 'login-form'>
		<div id = 'main'>
			<div id = 'one'>
				<p>Question 
					<pre>{{question}}</pre>
				</p>
			</div>&nbsp;
			<vr>
			<div id = 'two'>
				<p> 
					<input name = 'ch' type = 'radio' value = 'one'>
				</p>
				<p>
					<input name = 'ch' type = 'radio' value = 'two'>
				</p>
				<p> 
					<input name = 'ch' type = 'radio' value = 'three'>
				</p>
				<p> 
					<input name = 'ch' type = 'radio' value = 'four'>
				</p>
				<p>
					<input class = 'submit' type = 'submit'>
				</p>
			</div>&nbsp;
		</div>
		</form>
	</div>
</body>
<footer class = 'footer'>
	<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
	alt="Powered by Google App Engine" />
</footer>
</html>
