<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Podkova' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
  	<link type="text/css" rel="stylesheet" href="../stylesheets/test.css" />
  	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
  	  </script>
      <script> 
         $(document).ready(function(){
            // jQuery methods go here...
             var submitActor = null;
             var $form = $( 'form' );
             var $submitActors = $form.find( 'input[type=submit]' );

		    $form.submit( function( event )
		    {
		       var min=document.getElementById("min").value;
			   var sec=document.getElementById("sec").value;
		       var radio_buttons = $("input[name='ch']");
		      if ( null === submitActor )
		      {
		        // If no actor is explicitly clicked, the browser will
		        // automatically choose the first in source-order
		        // so we do the same here
		        submitActor = $submitActors[0];
		      }

		      
		      if (sec == 0 && min == 0)
		       {
		         $("#msg").text("Your loop has been closed!").show().fadeOut(1500);
		          return false;
		       }
		      else if( radio_buttons.filter(':checked').length == 0  && submitActor.name == "submit"){
		         $("#msg").text("No choice selected!").show().fadeOut(1500);
		           return false;
		       }
		      else {
		         return true;
		       }


		    });

		    $submitActors.click( function( event )
		    {
		      submitActor = this;
		    });

		  });  
        
      </script>
  	
  	  <script>

  	     var myVar=setInterval(function(){myTimer()},1000);
         function myTimer()
		 {
		 var min=document.getElementById("min").value;
		 var sec=document.getElementById("sec").value;
		 if (sec == 0 && min == 0)
		 {
		 	clearInterval(myVar);
		 	document.getElementById("min").value = 00;
		    document.getElementById("sec").value = 00;
		    return ;
		 }
		 if (sec == 0)
		 {
             min = min - 1;
             sec = 59;
		 }
		 else
		 {
		 	 sec = sec - 1;
		 }
		 if(min<10)
		 {
		 	min = '0' + (min%10)
		 }
		 if(sec<10)
		 {
		 	sec = '0' + sec%10
		 }
		 if (sec == 0 && min == 0)
		 {
		 	clearInterval(myVar);
		 	document.getElementById("min").value = 00;
		    document.getElementById("sec").value = 00;
		 }
		 else
		 {
		    document.getElementById("min").value = min;
		    document.getElementById("sec").value = sec;
		}
		}

  	  </script>

	<title>CodeRed</title>
</head>
<body>
	<script type="text/javascript">
		$('body').bind('mousewheel', function (e) { // on scroll
    		var $div = $('div');

    		// set div scroll top offset to current + extra from this scroll
    		$div.scrollTop($div.scrollTop() - e.originalEvent.wheelDelta);

	    	return false; // prevent body scrolling	
		});
		
		function changeClass(){
          this.setAttribute("class", "myClass");
       }
	</script>
	<div class = 'header'>
		<div><a href = '#'>{ CODERED<sup> 2013</sup>}</a></div>
	</div>
	<div class = "login-box">
		<h3>CodeRed Questions</h3>
		<form method = 'post'>
			<div id="demo">
			    <input name = 'timer1' type = 'text' id ="min" class = "timer" value={{timer1}} readonly/>&nbsp;:
			    <input name = 'timer2' type = 'text' id ="sec" class = "timer" value={{timer2}} readonly/>
			</div>
		
		   <div id = 'questionGrid'>
		       <input name = 'questionNo' class = {{class1}} type = 'submit' value = '1' >
		       <input name = 'questionNo' class = {{class2}} type = 'submit' value = '2'>
		       <input name = 'questionNo' class = {{class3}} type = 'submit' value = '3'>
		       <input name = 'questionNo' class = {{class4}} type = 'submit' value = '4'>
		       <input name = 'questionNo' class = {{class5}} type = 'submit' value = '5'>
		       <input name = 'questionNo' class = {{class6}} type = 'submit' value = '6'>
		       <input name = 'questionNo' class = {{class7}} type = 'submit' value = '7'>
		       <input name = 'questionNo' class = {{class8}} type = 'submit' value = '8'>
		       <input name = 'questionNo' class = {{class9}} type = 'submit' value = '9'>
		       <input name = 'questionNo' class = {{class10}} type = 'submit' value = '10'>
		       <input name = 'questionNo' class = {{class11}} type = 'submit' value = '11'>
		       <input name = 'questionNo' class = {{class12}} type = 'submit' value = '12'>
		       <input name = 'questionNo' class = {{class13}} type = 'submit' value = '13'>
		       <input name = 'questionNo' class = {{class14}} type = 'submit' value = '14'>
		       <input name = 'questionNo' class = {{class15}} type = 'submit' value = '15'><br/>
		       <input name = 'questionNo' class = {{class16}} type = 'submit' value = '16'>
		       <input name = 'questionNo' class = {{class17}} type = 'submit' value = '17'>
		       <input name = 'questionNo' class = {{class18}} type = 'submit' value = '18'>
		       <input name = 'questionNo' class = {{class19}} type = 'submit' value = '19'>
		       <input name = 'questionNo' class = {{class20}} type = 'submit' value = '20'>
		       <input name = 'questionNo' class = {{class21}} type = 'submit' value = '21'>
		       <input name = 'questionNo' class = {{class22}} type = 'submit' value = '22'>
		       <input name = 'questionNo' class = {{class23}} type = 'submit' value = '23'>
		       <input name = 'questionNo' class = {{class24}} type = 'submit' value = '24'>
		       <input name = 'questionNo' class = {{class25}} type = 'submit' value = '25'>
		       <input name = 'questionNo' class = {{class26}} type = 'submit' value = '26'>
		       <input name = 'questionNo' class = {{class27}} type = 'submit' value = '27'>
		       <input name = 'questionNo' class = {{class28}} type = 'submit' value = '28'>
		       <input name = 'questionNo' class = {{class29}} type = 'submit' value = '29'>
		       <input name = 'questionNo' class = {{class30}} type = 'submit' value = '30'>
		    </div>
		   
			<hr>
			<div class = 'login-form'>
				
			    <div id = 'main'>
				  <div id = 'one'>
					<p>Question 
						<pre>{{qno}}.{{question}}</pre>
					</p>
				  </div>&nbsp;
				  <div id = 'two'>
					    <p> 
						    <input name = 'ch' type = 'radio' value = 'one'>
						    {{choice1}}
					    </p>
					    <p>
						    <input name = 'ch' type = 'radio' value = 'two'>
						    {{choice2}}
					    </p>
					    <p> 
						    <input name = 'ch' type = 'radio' value = 'three'>
						    {{choice3}}
					    </p>
					    <p> 
						    <input name = 'ch' type = 'radio' value = 'four'>          
						    {{choice4}}
					    </p>
					    <p>
						    <input class = 'submit' type = 'submit' name = 'submit' value = 'submit'  >
						    <span id='msg'></span>
					    </p>
				    </div>&nbsp;
			     </div>
              </div>
			  </form>
		    </div>
   </body>
  <footer class = 'footer'>
	<img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
	alt="Powered by Google App Engine" />
  </footer>
</html>
