<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../stylesheets/topscore.css" />
    <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    	  <script>
           document.onkeydown = function(event) {
            if(window.event.keyCode == 116){
               event.preventDefault();
            }
          }
        </script>
    <title>topscore</title>    
  </head>

  <body>
     <div id = "table">
      <div id = "label1"> TEAMNAME <div>
      <div id = "label2"> SCORE </div>
  	  
      {%for a in topscore%}
      <div id = "col1">
        <div id = "item1">{{a[0]}}</div>
  	  </div> 

      <div id = "col2">
          <div id = "item2">{{a[1]}}</div>
      </div>
      {%endfor%}
     </div>
  </body>
</html>
